<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Minha Página
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Minha Página</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="assets/Spider.jpg" alt="Sua Foto">
    <ion-card-header>
      <ion-card-title>Leonardo Inacio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Código de Turma: ADS0301M (Manhã)</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
